.venv/
.idea/
**/.DS_Store
**/build*/
**/cmake-build-*/
cache/
saved/
**/__pycache__/
**/*.so
data/temp/
reg23/src/extension.egg-info/
figures/landscapes/
figures/truncation/
**/*.egg-info/
Logs/*
data/register_plot_data/
**/.cache/
**/*.log
reg23/src/mps/default_metallib.mm
