.venv/
.idea/
**/.DS_Store
**/build/
**/cmake-build-*/
cache/
**/__pycache__/
**/*.so
data/temp/
Extension/src/extension.egg-info/
figures/landscapes/
figures/analysis/
**/*.egg-info/
Logs/
data/register_plot_data/